<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<linK rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
	<div class="login-page">
  	<div class="form">
	<h1>Redireccionador</h1>
	<h2>Crea un nuevo link</h2>
    <form action="#" method="POST"
		th:action="@{/}" th:object="${newUrl}">
		<input type="text" name="key" placeholder="Url corto" th:field="*{key}"/>
		<input type="text" name="value" placeholder="Url" th:field="*{value}"/>
		<div class="margin">
			<span th:if="${#httpServletRequest.getParameter('success')}" class="success">
				Exito!
				<br>
				Ya puede visitar la ruta /<b th:text="${#httpServletRequest.getParameter('success')}"></b>
			</span>
			<span th:if="${#httpServletRequest.getParameter('error')}" class="error">Hubo un error :(</span>
		</div>
		<button type="submit">Crear</button>
	</form>
  </div>
</div>
</body>
</html>